*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: "Roboto",sans-serif;
}
body{
    background: #E5E5E5;
}
.container{
    width: 327px;
    background-color:#FFFFFF ;
   margin: 0 auto;
    margin-top: 100px;
  
}
h1{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 18px;
align-items: center;
color: #F4F4F4;
text-align: center;
padding: 25px;

}
header{

height: 66px;
background: #1B83E2;
}
main{
    padding:24px;
}
label{

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #777777;
}
select{
background: #FFFFFF;
border: 1px solid #BBBBBB;
border-radius: 4px;
height: 48px; 
display:block;
width: 100%;
cursor:pointer; /*  nao queremos seta ,queremos a mao*/
outline: none;   /*  vamos retirar a lista azul das bordas */
padding-left: 16px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
margin-top: 6px;
margin-bottom: 24px;
font-size: 16px;

}
input{
background: #FFFFFF;
 border: 1px solid #BBBBBB;
 border-radius: 4px;
height: 48px;
display:block;
width: 100%;
padding-left: 16px;
cursor:pointer;
outline: none;
border: 1px solid #BBBBBB;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-size: 16px;

}
button{
    background: #1B83E2;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    color: #F4F4F4;
    margin-bottom: 36px;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
 

}
section{

border: 1px solid #1B83E2;
border-radius: 4px;
}
.brasil{
text-align: center;
margin-top: 12px;

}
.valor{
font-weight: 700;
font-size: 20px;
line-height: 18px;
color: #1B83E2;
margin-top: 12px;
}
.estadosunidos{
    text-align: center;
    margin-bottom: 25px;
}
.seta{
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
width: 35px;
}

button:hover{   /* quando eu passo o mouse por cima do botao */
opacity: 0.9;
}
button:active{ /* quando eu clico com o mouse em cima do botao */
opacity: 0.7;
}
